.no-tab {
    background-color: #1e1e1e;
    color:#6b6b6b;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.editor-container {
    position:relative;
    width:100%;
    height: 100%;
}

.overlay-layer {
  position: absolute;
  inset: 0;
  pointer-events: none; 
}

.line-block-overlay {
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(255, 0, 0, 0.3);
    border: 1px solid rgba(255, 0, 0, 0.5);
}