.viewerContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right:0;
    overflow:hidden;
}

.tabContainer{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 40px;
    right:0;
}

.monacoContainer{
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    right:0;

}