.tab {
    padding: 0px 18px;
    cursor: default !important;
    height: 35px;
    width: auto;
}

.tab-content {
    width:auto;
    height:31px;
    display:flex;
    align-items: center;
    vertical-align: middle;
    overflow-y: hidden;
}

.tab > .tab-content > .icon {
    padding-right: 2px;
    display:flex;
    align-items: center;
    width:20px;
}

.tab > .tab-content> .tab-name {
    display:flex;
    align-items: center;
    width: auto;
    font-size:13px;
}

.tab > .tab-content> .close-icon {
    display:flex;
    margin-left:7px;
    padding-top:3px;
    align-items: center;
    vertical-align: middle;
    width:10px;
    cursor: pointer;
}