.tab {
    padding: 0px 15px;
    cursor: pointer;
    height: 40px;
    width: auto;
    display:flex;
    align-items: center;
}

.tab > .icon {
    padding-right: 7px;
    display:flex;
    align-self: center;
    width:30px;
}

.tab > .tab-name {
    width: auto;
    font-size:14px;
}

.tab > .close-icon {
    padding-left:7px;
    display:flex;
    align-self: center;
    width:30px;
}