.tab {
    padding: 0px 15px;
    cursor: pointer;
    height: 40px;
    width: auto;
    display:flex;
    align-items: center;
}

.tab > .icon {
    padding-right: 7px;
    display:flex;
    align-self: center;
    width:20px;
}

.tab > .tab-name {
    width: auto;
    font-size:13px;
}

.tab > .close-icon {
    margin-left:7px;
    margin-right:7px;
    display:flex;
    align-self: center;
    width:10px;
}