.line-block-overlay {
    z-index: 999;
    position: absolute;
    left: 0px;
    right: 0px;
    cursor: pointer;
}

.line-block-overlay-hover:hover {
    background-color: rgba(123, 255, 0, 0.2);
}